html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#salas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #000000;
}

.botaoCanal {
  position: relative;
  top: 5px;
  left: 5px;
  margin-right: 5px;
  width: 100px;
  height: 40px;
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
}

span {
  position: relative;
  top: 10px;
}

#chat {
  position: absolute;
  top: 50px;
  bottom: 40px;
  width: inherit;
}

.mural {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin: 10px;
  width: 80%;
  overflow: auto;
  border: 3px solid black;
  border-style: outset;
  border-radius: 5px;
  display: none;
}

.nicksNoCanal {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 80%;
  right: 0px;
  margin-left: 20px;
  overflow: auto;
  display: none;
}

#envMsg {
  position: absolute;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  height: 22px;
}

#mensagem {
  width: 79%;
}
