body {
  background-color: #b9cdd4;
}

#erro{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f91f1f;
  display: none;
}

h3 {
  margin: 10;
  position: absolute;
  top: 0;
  left: 10;
}

#listaErro {
  margin-top: 35;
  margin-left: 20;
}

#container {
  position: relative;
  top: 30px;
}

h1 {
  text-align: center;
}

#formContainer {
  margin: 0 auto;
  margin-top: 30px;
  width: 265px;
  height: 202px;
  background-color: #00b5e6;
  padding: 25px;
  border-radius: 20px;
}

#botao {
  float: right;
  background-color: #108f02;
  color: #ffffff;
  border-color: #cbcdcd;
  border-radius: 15px;
  border-style: double;
  width: 90px;
  height: 30px;
}